* {
    font-family: sans-serif;
}
html, body {
    margin: 0;
    min-height: 100vh;
}
section {
    max-width: 1280px;
    margin: 0 auto;
}

/*----HEADER-START----*/
header.header{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.header .title-1 {
    color: black;

}
.header .link-to-somewhere {
    text-decoration: none;
    color: aquamarine;
}
/*----HEADER-END----*/

/*----NAVIGATION-TOP-MENU-START----*/
.navigation-top-menu{
    display: flex;
    background-color: #313f51;
    height: 40px;
    text-align: center;
    color: white;
    line-height: 40px;
}
.navigation-top-menu-item-1 {
    border: 1px solid white;
    width: 10vw;
    height: 100%;
    align-content: center;
}
.navigation-top-menu-item-2 {
    border: 1px solid white;
    width: 25vw;
    height: 100%;
    text-align: center;
}
.navigation-top-menu-item-3{
    border: 1px solid white;
    height: 100%;
    width: 14vw;
}
.navigation-top-menu-item-4 {
    border: 1px solid white;
    height: 100%;
    width: 18vw;
}
.navigation-top-menu-item-5 {
    border: 1px solid white;
    height: 100%;
    width: 17vw;
}
.navigation-top-menu-item-6 {
    border: 1px solid white;
    height: 100%;
    width: 16vw;
}
.navigation-top-menu-item-2:hover {
    background-color: black;
}
.navigation-top-menu-item-3:hover {
    background-color: black;
}
.navigation-top-menu-item-4:hover {
    background-color: black;
}
.navigation-top-menu-item-5:hover {
    background-color: black;
}
/*----NAVIGATION-TOP-MENU-END----*/

/*----MAIN-AND-ASIDE-START----*/
.main-and-aside{
    display: flex;
    margin-top: 20px;
    color: #313f51;
}
.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 220px;
    border-top: 1px solid #313f51;
    border-left: 1px solid #313f51;
    border-bottom: 1px solid #313f51;
    font-size: 18px;
}
.aside-item-1 {
    width: 200px;
}
.aside-item-1:hover {
    font-weight: bold;}

.aside-item-2:hover {
    font-weight: bold;}

.aside-item-3:hover {
    font-weight: bold;}

.aside-item-4:hover {
    font-weight: bold;}

.aside-item-5:hover {
    font-weight: bold;}

.main-image {
    display: flex;
    justify-content: center;
    border: 1px solid #313f51;
    margin-left: 30px;
    padding:30px 30px;
    transition: opacity linear .4s;
}
.main-image:hover {
    width: 1017px;
    height: 265px;
}
.paragraph {
    margin-left: 30px;
    font-size: 14px;
}
/*----MAIN-AND-ASIDE-END----*/
/*----FOOTER-START----*/
.footer {
    background-color: #808080;
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    height: 40px;
    line-height: 40px;
}
.footer-menu-item-6 {
    margin-left: 150px;
}
.footer-menu-item-1:hover {
    text-decoration: underline;
    color: darkslategray;
}
.footer-menu-item-2:hover {
    text-decoration: underline;
    color: darkslategray;
}
.footer-menu-item-3:hover {
    text-decoration: underline;
    color: darkslategray;
}
.footer-menu-item-4:hover {
    text-decoration: underline;
    color: darkslategray;
}
.footer-menu-item-5:hover {
    text-decoration: underline;
    color: darkslategray;
}
/*----FOOTER-END----*/